
<footer class="footer">
    <div class="container-fluid ">
        <nav class="pull-left  ">
            <ul>
                <li>
                    <a>
                        E-mail: alejandromg0805@gmail.com
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/alejo_montoyag/" target="_blank">
                        instagram
                    </a>
                </li>
                <li>
                    <a href="https://github.com/Alejo0508" target="_blank">
                        gitHub
                    </a>
                </li>
                <li>
                    <a href="#/nosotros">
                        Nosotros
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}} Alejandro montoya || Full Stack Developer
        </p>
    </div>
</footer>
