<!-- <div class="container mt-12 animated fadeIn ">
    <div class="row mb-12 ">
        <div class="col-md-12">
            <div class="card colortexto sombra" style="background-image: url(assets/img/gradient2.jpg);">
                <div class="text-white text-center d-flex align-items-center py-5 px-4 my-5">
                    <div class="justificado">
                        <h1 class="card-title pt-3 mb-5 font-bold "><strong>CarPool - Digital
                                School</strong></h1>
                        <p class="mx-5 mb-5 ">Viaja, conoce personas, diviertete es simple, cómodo y seguro.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->



<div class="container ">

    <h1 class="callout-title titulo animated zoomIn">Busca, Viaja ¡Diviertete!</h1>
    <div class=" row col-12 col-md-10 col-lg-8 animated zoomIn" style="width: 70%; height: 80%; margin-left: 15%; margin-top: 4%;">
        <form class="card card-sm" style="width: 100%; height: 100%;">
            <div class="card-body row no-gutters align-items-center">
                <div class="col-auto">
                    <i class="fas fa-search h4 text-body"></i>
                </div>

                <div class="col">
                    <input class="alinearbuscartexto form-control form-control-lg form-control-borderless" type="search"
                        placeholder="Busca un transporte cerca">
                </div>

                <div class="col-auto ">
                    <button class="btn btn-lg btn-primary alinearbuscarboton button"  type="submit">Buscar</button>
                </div>

            </div>
        </form>
    </div>
</div>




<form action="">

<div class="container-fluid animated fadeIn ">
    <div class="row">

        <div class="col-md-12">

            

            <div class="card justicarcards2">

                <div class="col-md-3 justificadocards ">


                     <div class="card card-user animated zoomIn ">
                        <div class="image">
                            <img src="assets/img/faces/mapa.jpg" alt="..." />
                        </div>
                        <div class="content">
                            <div class="author">
                                <a href="#">
                                    <img class="avatar border-gray" src="assets/img/faces/face-1.jpg" alt="..." />

                                    <h4 class="title">Pepito Perez<br />
                                        <small>Telefono: 316846513</small>
                                    </h4>
                                </a>
                            </div>
                            <p class="description text-center"> informacion adicional</p>
                        </div>
                        <hr>

                        
                        <div class="text-center">
                            <button href="#" class="btn btn-primary alinearbotoncard button" type="submit" (click)="showNotification('top','center')">Reservar</button>
                        </div>
                    </div>


                </div>

                

                <div class="col-md-3  justificadocards">

                    <div class="card card-user animated zoomIn">
                        <div class="image">
                            <img src="assets/img/faces/mapa.jpg" alt="..." />
                        </div>
                        <div class="content">
                            <div class="author">
                                <a href="#">
                                    <img class="avatar border-gray" src="assets/img/faces/face-2.jpg" alt="..." />

                                    <h4 class="title">Pepito Perez<br />
                                        <small>Telefono: 316846513</small>
                                    </h4>
                                </a>
                            </div>
                            <p class="description text-center"> informacion adicional</p>
                        </div>
                        <hr>
                        <div class="text-center">
                            <button href="#" class="btn btn-primary alinearbotoncard button" type="submit" (click)="showNotification('top','center')">Reservar</button>
                        </div>
                    </div>

                </div>

                <div class="col-md-3 justificadocards ">

                    <div class="card card-user animated zoomIn">
                        <div class="image">
                            <img src="assets/img/faces/mapa.jpg" alt="..." />
                        </div>
                        <div class="content">
                            <div class="author">
                                <a href="#">
                                    <img class="avatar border-gray" src="assets/img/faces/face-6.jpg" alt="..." />

                                    <h4 class="title">Pepito Perez<br />
                                        <small>Telefono: 316846513</small>
                                    </h4>
                                </a>
                            </div>
                            <p class="description text-center"> informacion adicional</p>
                        </div>
                        <hr>
                        <div class="text-center">
                            <button href="#" class="btn btn-primary alinearbotoncard button" type="submit" (click)="showNotification('top','center')">Reservar</button>
                        </div>
                    </div>

                </div>

            </div>

            

        </div>



       
        <div class="col-md-12">


            <div class="card justicarcards2">

                <div class="col-md-3 justificadocards">


                    <div class="card card-user animated zoomIn">
                        <div class="image">
                            <img src="assets/img/faces/mapa.jpg" alt="..." />
                        </div>
                        <div class="content">
                            <div class="author">
                                <a href="#">
                                    <img class="avatar border-gray" src="assets/img/faces/face-5.jpg" alt="..." />

                                    <h4 class="title">Pepito Perez<br />
                                        <small>Telefono: 316846513</small>
                                    </h4>
                                </a>
                            </div>
                            <p class="description text-center"> informacion adicional</p>
                        </div>
                        <hr>
                        <div class="text-center">
                            <button href="#" class="btn btn-primary alinearbotoncard button" type="submit" (click)="showNotification('top','center')">Reservar</button>
                        </div>
                    </div>


                </div>

                <div class="col-md-3 justificadocards">


                    <div class="card card-user animated zoomIn">
                        <div class="image">
                            <img src="assets/img/faces/mapa.jpg" alt="..." />
                        </div>
                        <div class="content">
                            <div class="author">
                                <a href="#">
                                    <img class="avatar border-gray" src="assets/img/faces/face-7.jpg" alt="..." />

                                    <h4 class="title">Pepito Perez<br />
                                        <small>Telefono: 316846513</small>
                                    </h4>
                                </a>
                            </div>
                            <p class="description text-center"> informacion adicional</p>
                        </div>
                        <hr>
                        <div class="text-center">
                            <button href="#" class="btn btn-primary alinearbotoncard button" type="submit" (click)="showNotification('top','center')">Reservar</button>
                        </div>
                    </div>


                </div>
               

            </div>

        </div>

        

    </div>

</div>

</form>

