<div class="container ">

    <h1 class="callout-title titulo animated zoomIn">Busca, Viaja ¡Diviertete!</h1>
    
    <div class=" row col-12 col-md-10 col-lg-8 animated zoomIn" style="width: 70%; height: 80%; margin-left: 15%; margin-top: 4%;">
        <form class="card card-sm" style="width: 100%; height: 100%;">

            <div class="card-body row no-gutters align-items-center">
                

                <div class="col">
                    <input class="alinearbuscartexto form-control form-control-lg form-control-borderless" type="search"
                        placeholder="Busca un transporte cerca">
                </div>

                <div class="col-auto ">
                    <button class="btn btn-lg btn-primary alinearbuscarboton button"  type="submit">Buscar</button>
                </div>

            </div>
        </form>
    </div>
</div>


<form action="">

<div class="container-fluid animated fadeIn ">
    <div class="row">

        <div class="col-md-12">

            

            <div class="card justicarcards2"  *ngFor="let carpoolers of carpooler">

                <div class="col-md-4 justificadocards ">


                     <div class="card card-user animated zoomIn">

                        <div class="image">
                            <img src="assets/img/faces/mapa.jpg" alt="..." />
                        </div>
                        <div class="content" style="margin-bottom: 0%;">
                            <div class="author">
                                    <img class="avatar border-gray" src="assets/img/faces/face-1.jpg" alt="..." />
                                    <h4 class="title">{{carpoolers.nombre}} {{carpoolers.apellido}}<br/>
                                        <small>Telefono: {{carpoolers.telefono}}</small><br>
                                        <label style="margin-top: 4%;">Valor del viaje: {{carpoolers.total}}</label>
                                    </h4>
                                    <label for="" style="visibility:hidden">{{carpoolers.email}}</label>
                                    <label for="" style="visibility:hidden">{{carpoolers.idUsuario}}</label>
                            </div>
                            <hr>
                            <table class="table table-hover">
                                <thead>
                                  <tr>
                                    <th scope="col">Salida</th>
                                    <th scope="col">casa</th>
                                    <th scope="col">Destino</th>
                                    <th scope="col">trabajo</th>
                                    <th scope="col">Dias de Servicio</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td style="font-size: small;">{{carpoolers.dirOrigen}}</td>
                                    <td style="font-size: small;">{{carpoolers.horaSalidaOrigen}}</td>
                                    <td style="font-size: small;">{{carpoolers.dirDestino}}</td>
                                    <td style="font-size: small;">{{carpoolers.horaSalidaDestino}}</td>
                                    <td style="font-size: small;">{{carpoolers.diasServicio}}</td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                        <hr>

                        
                        <div class="text-center">
                            <button href="#" class="btn btn-primary alinearbotoncard button" type="submit" (click)="reservar(carpoolers.idUsuario,carpoolers.email)" >Reservar</button>
                        </div>
                    </div>


                </div>


            </div>

            

        </div>

       

    </div>

</div>

</form>

