@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.darken-grey-text {
    color: #2E2E2E;
}

.colortexto{
    color: white;
    height: 450px;
}

.sombra{
    box-shadow: 1px 1px 20px -5px black;
}

.justificado{
    margin-top: 8%;
    margin-right: 15%;
    
}


.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.alinearbuscar{
    margin-left: 20%;
}

.alinearbuscartexto{
    margin-left: 5%;
    width: 90%;
    font-size: 20px;
}

.alinearbuscarboton{
    margin: 2% 0% 2% 44% ;
    font-size: 15px;
}

.alinearbotoncard{
    margin: 1% 0% 2% 2% ;
    font-size: 12px;
    
}

.justificado{
    margin: 10% 0% 0% 0%;
}

.justificadocards{
    margin-top: 3%;
}

.justicarcards2{
    margin: 3% 0% 0% 20%;
}

.titulo{
    color: #1976d2;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 8%;
    font-weight: bolder;
    
}



.button {
    font-size: 14px;
    text-align: center;
    border: 0px solid transparent;
    background: #1976d2;
    color: #ffffff;
    display: inline-block;
    text-transform: capitalize;
    vertical-align: middle;
    padding: 8px 20px;
    -ms-transform: perspective(1px) translateZ(0);
    -o-transform: perspective(1px) translateZ(0);
    -moz-transform: perspective(1px) translateZ(0);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -ms-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    -webkit-transition-property: color;
    transition-property: color;
    -ms-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.button:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #323232;
    -ms-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -ms-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -ms-transition-property: transform;
    -moz-transition-property: transform;
    -o-transition-property: transform;
    -webkit-transition-property: transform;
    transition-property: transform;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -ms-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.button:hover,
.button:focus,
.button:active {
    color: #ffffff;
}

.button:hover:before,
.button:focus:before,
.button:active:before {
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -moz-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
    -ms-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
    -o-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
}










