<div class="main-content">
    <div class="container-fluid animated zoomIn">
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="header">
                        <h4 class="title">Modifica tus direcciones y tu rol</h4>
                    </div>

                    <div class="content">

                        <form action="" method="" id="">

                            <div class="row">

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Direccion de Origen</label>
                                        <input type="text" class="form-control" placeholder="Direccion de Origen"
                                            id="dirOrigen" name="dirOrigen" [(ngModel)]="dirOrigen">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Direccion de Destino</label>
                                        <input type="text" class="form-control" maxlength="5" placeholder="Direccion de Destino"
                                            id="dirDestino" name="dirDestino" [(ngModel)]="dirDestino" required>
                                    </div>
                                </div>
                            </div>

                            <div class="row ">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Hora de salida de Origen</label>
                                        <input type="time" ps-input-time format="hh:mm"  class="form-control" placeholder="Hora de salida de Origen"
                                            id="horaSalidaOrigen" name="horaSalidaOrigen"
                                            [(ngModel)]="horaSalidaOrigen">
                                    </div>
                                </div>

                                <div class="col-md-6 ">
                                    <div class="form-group">
                                        <label>Hora de salida de Destino</label>
                                        <input type="time" ps-input-time format="hh:mm"  class="form-control" placeholder="Hora de salida de Destino"
                                            id="horaSalidaDestino" name="horaSalidaDestino"
                                            [(ngModel)]="horaSalidaDestino">
                                    </div>
                                </div>


                            </div>


                            <div class="row">

                                <div class="div">
                                    <h4 class="title titulocarpooler" style="padding-bottom: 0%;">¿Quieres ser
                                        Carpooling?</h4>
                                </div>


                                <div class="form-check form-check-inline col-md-1" style="margin-left: 42%;">

                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" [value]="1"
                                        onclick="document.getElementById('placa').disabled = false"
                                        [(ngModel)]="tienePlaca">

                                    <label class="form-check-label" for="inlineRadio1"
                                        style="margin-left: 15%; padding-top: 0%;">Si</label>

                                </div>

                                <div class="form-check form-check-inline col-md-1">
                                    <input class="form-check-input" type="radio" name="inlineRadioOptions" [value]="0"
                                        onclick="document.getElementById('placa').disabled = true"
                                        [(ngModel)]="tienePlaca">

                                    <label class="form-check-label" for="inlineRadio2"
                                        style="margin-left: 5%; padding-top: 0%;">No</label>

                                </div>

                            </div>

                            <div class="row">

                                <div class="col-md-12">
                                    <div class="form-group" style="margin-left: 30%; width: 40%;">
                                        <label>Placa</label>
                                        <input type="text" class="form-control" placeholder="Placa"
                                            style="margin-bottom: 5%;" id="placa" name="placa" maxlength="6"
                                            [(ngModel)]="placa">
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-info btn-fill pull-right button" id="botonDireccion"
                                name="botonDireccion" (click)="actualizarDireccion('top','center')">Modificar</button>
                            <div class="clearfix"></div>

                                
                        </form>

                    </div>
                </div>
            </div>


        </div>
    </div>

</div>