<div class="main-content">
  <div class="container-fluid animated zoomIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title">Modifica tus direcciones y tu rol</h4>
          </div>

          <div class="content">
            <form action="" method="" id="">
              <div class="row">
                <div class="col-md-5">
                  <div class="form-group">
                    <label>Direccion de Origen</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Direccion de Origen"
                      id="dirOrigen"
                      name="dirOrigen"
                      [(ngModel)]="dirOrigen"
                      disabled
                    />
                  </div>
                </div>

                <div class="col-md-5">
                  <div class="form-group">
                    <label>Direccion de Destino</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Direccion de Destino"
                      id="dirDestino"
                      name="dirDestino"
                      [(ngModel)]="dirDestino"
                      disabled
                    />
                  </div>
                </div>

                <button
                  class="btn btn-info btn-fill button2 margenbotondir"
                  id="agregarDireccion"
                  name="agregarDireccion"
                  data-toggle="modal"
                  data-target="#squarespaceModal"
                >
                  Agregar direcciones
                </button>

                <div class="clearfix"></div>

                <!-- line modal -->
                <div
                  class="modal fade"
                  id="squarespaceModal"
                  tabindex="-1"
                  role="document"
                  aria-labelledby="modalLabel"
                  aria-hidden="true"
                  data-dismiss="modal"
                  data-backdrop="false"
                >
                  <div
                    class="
                      modal-dialog
                      animated
                      zoomIn
                      modal-dialog-centered modal-lg
                    "
                  >
                    <div class="modal-content">
                      <div class="modal-header">
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                        >
                          <span aria-hidden="true">×</span
                          ><span class="sr-only">Cerrar</span>
                        </button>

                        <h3 class="modal-title" id="lineModalLabel">
                          <img
                            src="../../assets/img/animat-camp/29 - Map.gif"
                            alt=""
                            width="80"
                            height="75"
                            class="d-inline-block align-top"
                          />
                          Agrega tu Ruta
                        </h3>
                      </div>

                      <div class="modal-body">
                        <!-- content goes here -->
                        <form>
                          <div class="form-group">
                            <label for="origen">¿Donde estas?</label>
                            <input
                              type="text"
                              class="form-control"
                              id="origen"
                              placeholder="¿Donde estas?"
                            />
                          </div>
                          <div class="form-group">
                            <label for="destino">¿Donde irás?</label>
                            <input
                              type="text"
                              class="form-control"
                              id="destino"
                              placeholder="¿Donde irás?"
                            />
                          </div>

                          <div id="mode-selector" class="controls">
                            <button
                              type="button"
                              class="btn btn-info btn-fill button2"
                              name="type"
                              id="changemode-driving"
                            >
                              Calcular
                            </button>

                          </div>

                          <div class="form-group" style="margin-top: 0.938em;">

                            <div>

                              <ngui-map
                                id="map"
                                style="
                                  height: 14.5em;
                                  background-color: rgb(229, 227, 223);
                                "
                                (mapReady$)="onMapReady($event)"
                                (mapClick)="onMapClick($event)"
                                (idle)="onIdle($event)"
                              >
                                <marker
                                  [position]="[latitudInicial, longitudInicial]"
                                  title="Casa"
                                  optimized="true"
                                ></marker>
                              </ngui-map>

                            </div>
                            
                          </div>
                        </form>
                      </div>

                      <div class="modal-footer">
                        <button
                          class="btn button3 cancelarModal btn-lg"
                          id="cerrarModal"
                          name="cerrarModal"
                          type="button"
                          data-dismiss="modal"
                        >
                          Cerrar
                        </button>

                        <button
                          type="button"
                          id="guardarDatos"
                          class="btn button4 cancelarModal btn-lg"
                          data-action="save"
                          role="button"
                          data-dismiss="modal"
                          (click)="guardarDirecciones()"
                        >
                          guardar
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Hora de salida de Origen</label>
                    <input
                      type="time"
                      ps-input-time
                      format="hh:mm"
                      class="form-control"
                      placeholder="Hora de salida de Origen"
                      id="horaSalidaOrigen"
                      name="horaSalidaOrigen"
                      [(ngModel)]="horaSalidaOrigen"
                    />
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label>Hora de salida de Destino</label>
                    <input
                      type="time"
                      ps-input-time
                      format="hh:mm"
                      class="form-control"
                      placeholder="Hora de salida de Destino"
                      id="horaSalidaDestino"
                      name="horaSalidaDestino"
                      [(ngModel)]="horaSalidaDestino"
                    />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="div">
                  <h4 class="title titulocarpooler" style="padding-bottom: 0%">
                    ¿Quieres ser Carpooling?
                  </h4>
                </div>

                <div
                  class="form-check form-check-inline col-md-1"
                  style="margin-left: 42%"
                >
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    [value]="1"
                    onclick="document.getElementById('placa','total').disabled = false"
                    [(ngModel)]="tienePlaca"
                  />

                  <label
                    class="form-check-label"
                    for="inlineRadio1"
                    style="margin-left: 15%; padding-top: 0%"
                    >Si</label
                  >
                </div>

                <div class="form-check form-check-inline col-md-1">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="inlineRadioOptions"
                    [value]="0"
                    onclick="document.getElementById('placa','total').disabled = true"
                    [(ngModel)]="tienePlaca"
                  />

                  <label
                    class="form-check-label"
                    for="inlineRadio2"
                    style="margin-left: 5%; padding-top: 0%"
                    >No</label
                  >
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Placa</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Placa"
                      id="placa"
                      name="placa"
                      maxlength="6"
                      [(ngModel)]="placa"
                    />
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label for="diasServicio">Dias de Servicio</label>
                    <select
                      class="form-control"
                      id="diasServicio"
                      required="true"
                      name="diasServicio"
                      [(ngModel)]="diasServicio"
                    >
                      <option value="L-M-V">L-M-V</option>
                      <option value="M-J">M-J</option>
                      <option value="L-M-M">L-M-M</option>
                      <option value="M-J-V">M-J-V</option>
                      <option value="S-D">S-D</option>
                    </select>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>Valor del viaje</label>
                    <input
                      type="number"
                      class="form-control"
                      placeholder="Total"
                      id="total"
                      name="total"
                      [(ngModel)]="total"
                    />
                  </div>
                </div>
              </div>

              <button
                type="submit"
                class="btn btn-info btn-fill pull-right button"
                id="botonDireccion"
                name="botonDireccion"
                (click)="actualizarDireccion('top', 'center')"
              >
                Modificar
              </button>

              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
