.justificadohoras{
    margin: 0% 0% 0% 15%;
}

.margenbotondir{

    margin-top: 2.2%;
    margin-left: 2.5%;

}

.button {
    font-size: 14px;
    text-align: center;
    border: 0px solid transparent;
    background: #0091ea;
    color: #ffffff;
    display: inline-block;
    text-transform: capitalize;
    vertical-align: middle;
    padding: 8px 20px;
    -ms-transform: perspective(1px) translateZ(0);
    -o-transform: perspective(1px) translateZ(0);
    -moz-transform: perspective(1px) translateZ(0);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -ms-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    -webkit-transition-property: color;
    transition-property: color;
    -ms-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.button:before {
    content: "";
    position: absolute;
    border-radius: 8%;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #4caf50;
    -ms-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -ms-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -ms-transition-property: transform;
    -moz-transition-property: transform;
    -o-transition-property: transform;
    -webkit-transition-property: transform;
    transition-property: transform;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -ms-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.button:hover,
.button:focus,
.button:active {
    color: #ffffff;
}

.button:hover:before,
.button:focus:before,
.button:active:before {
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -moz-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
    -ms-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
    -o-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
}



/* boton direcciones */

.button2 {
    font-size: 14px;
    text-align: center;
    border: 0px solid transparent;
    background: #0091ea;
    color: #ffffff;
    display: inline-block;
    text-transform: capitalize;
    vertical-align: middle;
    padding: 8px 20px;
    -ms-transform: perspective(1px) translateZ(0);
    -o-transform: perspective(1px) translateZ(0);
    -moz-transform: perspective(1px) translateZ(0);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -ms-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    -webkit-transition-property: color;
    transition-property: color;
    -ms-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.button2:before {
    content: "";
    position: absolute;
    border-radius: 8%;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2979ff;
    -ms-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -ms-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -ms-transition-property: transform;
    -moz-transition-property: transform;
    -o-transition-property: transform;
    -webkit-transition-property: transform;
    transition-property: transform;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -ms-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.button2:hover,
.button2:focus,
.button2:active {
    color: #ffffff;
}

.button2:hover:before,
.button2:focus:before,
.button2:active:before {
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -moz-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
    -ms-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
    -o-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
}

/*  boton modal cancelar   */


.button3 {
    font-size: 14px;
    text-align: center;
    border: 0px solid transparent;
    background: #0091ea;
    color: #ffffff;
    display: inline-block;
    text-transform: capitalize;
    vertical-align: middle;
    padding: 8px 20px;
    -ms-transform: perspective(1px) translateZ(0);
    -o-transform: perspective(1px) translateZ(0);
    -moz-transform: perspective(1px) translateZ(0);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -ms-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    -webkit-transition-property: color;
    transition-property: color;
    -ms-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.button3:before {
    content: "";
    position: absolute;
    border-radius: 8%;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ef5350;
    -ms-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -ms-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -ms-transition-property: transform;
    -moz-transition-property: transform;
    -o-transition-property: transform;
    -webkit-transition-property: transform;
    transition-property: transform;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -ms-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.button3:hover,
.button3:focus,
.button3:active {
    color: #ffffff;
}

.button3:hover:before,
.button3:focus:before,
.button3:active:before {
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -moz-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
    -ms-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
    -o-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
}

/* boton de guardar dorecciones modal  */

.button4 {
    font-size: 14px;
    text-align: center;
    border: 0px solid transparent;
    background: #0091ea;
    color: #ffffff;
    display: inline-block;
    text-transform: capitalize;
    vertical-align: middle;
    padding: 8px 20px;
    -ms-transform: perspective(1px) translateZ(0);
    -o-transform: perspective(1px) translateZ(0);
    -moz-transform: perspective(1px) translateZ(0);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -ms-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    -webkit-transition-property: color;
    transition-property: color;
    -ms-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.button4:before {
    content: "";
    position: absolute;
    border-radius: 8%;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #4caf50;
    -ms-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -o-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -ms-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -ms-transition-property: transform;
    -moz-transition-property: transform;
    -o-transition-property: transform;
    -webkit-transition-property: transform;
    transition-property: transform;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -ms-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.button4:hover,
.button4:focus,
.button4:active {
    color: #ffffff;
}

.button4:hover:before,
.button4:focus:before,
.button4:active:before {
    -moz-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -moz-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
    -ms-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
    -o-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.50);
}

.titulocarpooler{
    margin: 3% 0% 2% 40%;
}