<div class="main-content "  >
    <div class="container-fluid  ">
        <div class="row ">

            <div class="col-md-8  ">
                <div class="card card-user justificadocard  animated zoomIn ">
                    <div class="image">
                        <img src="assets/img/faces/fondoperfil.jpg" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/faces/face-3.jpg" alt="..."/>

                                <h4 class="title">Alejandro Montoya Gaviria<br />
                                    <small>Full Stack Developer</small>
                                </h4>
                            </a>
                        </div>
                        <p class="description text-center"> "El futuro pertenece a quienes<br>
                            Creen en la grandeza de sus sueños." <br>
                            <small class="justificadoeleonor">Eleanor Roosevelt.</small>
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <a href="https://www.instagram.com/alejo_montoyag/" target="_blank" class="btn btn-simple"><i class="fa fa-instagram"></i></a>
                        <a href="https://github.com/Alejo0508" target="_blank" class="btn btn-simple"><i class="fa fa-github-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




